/* -------------------------------- 

File#: _1_feature-v20
Title: Feature v20
Descr: A list of features with icons
Usage: codyhouse.co/license

-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 400px;
  font-family: 'Poppins', sans-serif;
  /* font-family: system-ui, sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  color: hsl(230, 7%, 23%);
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.375rem; /* 22px */
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  -webkit-appearance: none;
          appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: hsl(250, 84%, 54%);
}

table {
  margin-top: 50px;
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 12px 5px 100px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
  background: #F7F5FF;
  border: 1px solid #C2C2C2;
  color: #694df9;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  color: #694df9;
  border-color: #694DF9;
}
.btn:disabled {
  color: #C2C2C2;
  cursor: default;
}
.none {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.input_group > label {
  width: 256px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.box {
  width: fit-content;
  margin: calc(5%) auto;
  box-shadow: 2px 4px 35px rgba(117, 121, 255, 0.18);
  border-radius: 28px;
  padding: 24px 25px;
}
.input {
  width: 256px;
  border: 1px solid #C2C2C2;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
  outline: none;
}
.input:focus, .input:hover {
  border-color: #694DF9;
}
.input_group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.input_group > div {
  display: flex;
  flex-direction: column;
}
.btn_group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
}




.table {
  position: absolute;
  z-index: 10;
  background: #ffffff;
  top: 0;
  width: 100%;
  padding: 25px;
  overflow: hidden;
}
.table_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wraped {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.overwlo {
  overflow-x: scroll;
}
table {
  width: 100%;
}
table > thead > tr > th {
  font-weight: 600;
  background: #694DF9;
  color: #ffffff;
}
th {
  padding: 18px;
  border-top: 1px solid #EDEEFF;
  border-bottom: 1px solid #EDEEFF;
}
@media print {
  @page {
    margin: 0;
  }
  .btn {
    display: none;
  }
}
@media (max-width: 600px) {
  .input {
    width: 353px;
  }
  input[type="date"] {
    width: 353px;
  }
  .btn_group {
    flex-direction: column;
  }
}
